<!doctype html>
{% load static %}
<html lang="en">
  <head>

    <title>

        {% block title %}
        {% endblock %}

    </title>

    {% block uload %}
    {% endblock %}



  </head>
  <body>
  
    HELLO, {{ user }}
    <a href="/logout">Log Out</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    {% block content %}
    {% endblock %}

  </body>
</html>