{% extends 'base.html' %}

{% block title %}

    Feedback list page

{% endblock %}


{% block content %}

    {% for feedback in feedbackList%}

</p>  {{ feedback.author}}
</p>  {{ feedback.title }}
</p>  {{ feedback.message }}
</p>  <a href="{{ MEDIA_URL }}{{ feedback.file }}">{{ feedback.file }}</a>
</p>  {{ feedback.creationTime }}
</p>
<form method="POST">{% csrf_token %}
</p>  В работе? {{ form.isInWork }}
<button type="submit" name="{{ feedback.id }}_button">Save</button>
</form>

<hr>

    {% endfor %}

{% endblock %}
