{% extends 'base.html' %}

{% block title %}

    Feedback list page

{% endblock %}


{% block content %}

    {% for feedback in feedbackList%}

</p>  Автор: {{ feedback.author}}
</p>  Заголовок: {{ feedback.title }}
</p>  Сообщение: {{ feedback.message }}
</p>  Файл: <a href="{{ MEDIA_URL }}{{ feedback.file }}">{{ feedback.file }}</a>
</p>  Дата создания обращения: {{ feedback.creationTime }}
</p>
<form method="POST">{% csrf_token %}
</p>  Ответил? {% if feedback.isInWork %} ДА {% else %} НЕТ {% endif %}
</p>{{ form.isInWork }}
<button type="submit" name="{{ feedback.id }}_button">Save</button>
</form>

<hr>

    {% endfor %}

{% endblock %}
